*{
    box-sizing: border-box;
}

:root{
    --header-bg: #10375C;
    --color-white: #fff;
    --color-blue: #2E80CE;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    font-family: "Sora", sans-serif;
    padding: 0;
    margin: 0;
}

/* ================ common =================== */
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    background: var(--color-blue);
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    border-radius: 999px;
}

.btn:hover{
    opacity: 0.9;
}

/* ================ header =================== */
.header{
    background: var(--header-bg);
    min-height: 100vh;
    padding:  30px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 86px;
    height: 31px;
}

.navbar__list{
    display: flex;
}

.header__action--login,
.navbar__link{
    padding: 8px 21px;
    color: #C9D2DA;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active{
    color:var(--color-white);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--color-white);
    right: 8px;
    top: -3px;
    position: relative;
}

.header__action--login{
    margin-right: 7px;
}

.header__action--signup{
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
}
