*{
    box-sizing: border-box;
}

:root{
    --header-bg: #10375C;
    --color-white: #fff;
    --color-blue: #2E80CE;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    font-family: "Sora", sans-serif;
}

/* ================ common =================== */
.input, select, button{
    font-family: inherit;
    font-size: inherit;
}

.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    background: var(--color-blue);
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    border-radius: 999px;
}

.btn:hover{
    opacity: 0.9;
}

.section__heading{
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; 
}

.section__desc{
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

/* control */
.control__btn{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #575F66;
    background: var(--color-white);
    cursor: pointer;
}

.control__btn:hover{
    background: #2E80CE;
    border-color: #2E80CE;
    color: var(--color-white);
}

.control__icon--next{
    rotate: 180deg;
}

/* ================ header =================== */
.header{
    background: var(--header-bg);
    min-height: 100vh;
    padding-top: 30px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list{
    display: flex;
}

.header__action--login,
.navbar__link{
    padding: 8px 21px;
    color: #C9D2DA;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active{
    color:var(--color-white);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--color-white);
    right: 8px;
    top: -3px;
    position: relative;
} 

.header__action--login{
    margin-right: 7px;
}

.header__action--signup{
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
}

/* ========== hero ========= */
.hero{
    display: flex;
    align-items: center;
    padding-top: 76px;
}

.hero__content{
    width: 44%;
}

.hero__media{
    flex: 1;
}

.hero__heading{
    color: var(--color-white);
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
}

.hero__desc{
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero_row{
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.hero__phone{
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__images{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img{
    border-radius: 6px;
    object-fit: cover;
}

.hero__img--large{
    width: 330px;
    height: 540px;
    z-index: 1;
}

.hero__img--small{
    width: 210px;
    height: 410px;
    margin-left: -6px;
}

/* ============= service =========== */
.service{
    padding: 170px 0;
    background: var(--color-white);
}

.service__heading,
.secvice__desc{
    text-align: center;
}

.secvice__desc{
    width: 468px;
    margin: 18px auto 0px;
}

.service__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__img{
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__item{
    padding: 21px;
    width: 470px;
    display: flex;
    border-radius: 10px;
    background: var(--color-white);
    transition: 0.25s;
}

.service__item:hover{
    /* position: relative; */
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service__item:hover .service__item--icon{
    background: var(--color-blue);
    color: var(--color-white);
}

.service__item--icon{
    width: 60px;
    height: 60px;
    background: #eff6fd;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: 0.25s;
    margin-right: 19px;
}

.service__iteam--heading{
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service__iteam--desc{
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service__btn{
    margin-top: 55px;
}

/* ============= work ======================= */
.work{
    background: #F6FBFF;
}

.work__heading{
    padding-top: 86px;
}

.work__desc{
    width: 468px;
}

.work__list{
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work__item{
    padding: 43px;
    border-radius: 4px;
    background: var(--color-white);
    border: 16px solid #eaf6ff;
}

.work__item:hover{
    border-color: #2E80CE;
    transform: translateY(-16px);
}

.work__item--heading{
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work__item--desc{
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work__item--link{
    display: inline-block;
    margin-top: 30px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.work__item:hover .work__item--link{
    color: #2E80CE;
}

/* ============= About Us ================== */
.aboutUs{
    padding: 85px 0 206px;
    margin-top: 85px;
}

.aboutUs__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutUs__media{
    width: 49%;
}

.aboutUs__content{
    width: 40%;
}

.about__img{
    position: relative;
}

.aboutUs__big{
    display: flex;
    object-fit: cover;
    width: 512px;
    height: 370px;
    border-radius: 6px;
}

.aboutUs__small{
    position: absolute;
    top: 121px;
    left: 238px;
    object-fit: cover;
    width: 332px;
    height: 370px;
    border-radius: 6px;
}

.aboutUs__content--btn{
    margin-top: 38px;
}

/* =============== team ================ */
.team{
    
    padding: 85px 0;
}

.team__header{
    text-align: center;
    margin: 0 auto;
}

.team__cta{
    margin-top: 38px;
}

.team__list{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    column-gap: 30px;
    text-align: center;
    margin-top: 70px;
}

.item__logo{
    overflow: hidden;
    border-radius: 6px;
    background: #EAF6FF;
    padding-top: 28px;
}

.team__item:hover .team__item--img{
    transform: scale(1.1);
}

.team__item--img{
    display: block;
    height: 290px;
    max-width:100%;
    object-fit: cover;
    transition: 0.5s;
}

.team__item--heading{
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 12px;
}

.team__item--desc{
    color: #575F66;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.86;  
    margin: 0px;
}

.team__btn{
    display: flex;
    column-gap: 18px;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
}

/* ================ cta =================== */
.cta__header{
    margin: 180px 0 85px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    height: 427px;
    border-radius: 4px;
    background: #2E80CE;
}

.cta__img{
    position: absolute;
    width: 284px;
    height: 522px;
    bottom: 0px;
    object-fit: cover;
}

.cta__img--logo{
    width: 284px;
    height: 522px;
}

.cta__content{
    max-width: 586px;
}

.cta__content--heading{
    color: var(--color-white);
}

.cta__content--desc{
    margin-top: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
    color: var(--color-white);
}

.cta__list{
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
}

/* ============= dental =================== */
.dental{
    padding: 85px 0;
}

.dental__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dental__heading{
    max-width: 470px;
}

.dental__desc{
    margin: 28px 0;
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.dental__btn{
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.dental__list{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    column-gap: 30px;
}

.dental__item{
    max-width: 270px;
    width: 270px;
    border-radius: 12px;
    border: 1px solid #E8EBEE;
    background: #FFF;
    overflow: hidden;
}

.dental__item:hover{
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
    border-color: transparent;
}

.dental__item:hover .dental__item--img{
    transform: scale(1.1);
}

.dental__item--wrap{
    height: 172px;
    overflow: hidden;
}

.dental__item--img{
    width: 270px;
    height: 172px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    transform: 0.25s;
}

.item__body{
    padding: 18px 24px 21px 22px;
}

.dental__item--heading{
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}

.dental__item--desc{
    margin-top: 10px;
    color: #10375C;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.dental__item--link{
    display: inline-block;
    padding-top: 12px;
}

.dental__item:hover .dental__item--link{
    color: #2E80CE;
}

/* ================= appointment =============== */
.appointment {
    margin-top: 85px;
}

.appointment__inner {
    padding: 100px 178px;
    background: #f6fbff;
    text-align: center;
}

.appointment__heading::after {
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background: #2e80ce;
    margin: 18px auto 0;
}

.appointment__desc {
    margin: 18px auto 0;
    max-width: 617px;
}

.appointment__btn {
    margin-top: 38px;
}

/* =========================== footer ============================= */
.footer{
    margin-top: 170px;
    padding-top: 100px;
    background: #10375C;
    font-family: "Open Sans", sans-serif;
}

.footer__top{
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc{
    margin-top: 21px;
    color: #A9B3BB;
    font-size: 1.6rem;
    line-height: 1.75;
}

.footer__heading{
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.footer__list{
    margin: 20px 0 28px;
}

.footer__link{
    color: #A9B3BB;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    white-space: nowrap;
}

.footer__link:hover{
    text-decoration: underline;
}

.footer__item{
    margin-bottom: 10px;
}

.footer__social{
    display: flex;
    margin: 20px 0 28px;
    column-gap: 20px;
}

.footer__social--btn{
    color: #2E80CE;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: var(--color-white);
    border-radius: 50%;
    transition: 0.25s;
}

.footer__social--btn:hover{
    background-color: #2E80CE;
    color: var(--color-white);
}

.footer-form{
    display: flex;
    column-gap: 12px;
    margin-top: 10px;
}

.footer-form__input{
    width: 212px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #406181;
    background: transparent;
    outline: none;
    color: var(--color-white);
}

.footer-form__input::placeholder{
    color: #9CA8B1;
    font-size: 1.4rem;
    font-weight: 400;
    line-height:186px;
    padding-left: 10px;
}

.footer-form__submit{
    width: 108px;
    height: 46px;
    border-radius: 4px;
    background: #2E80CE;
    color: #FFF; 
    font-size: 1.4rem; 
    font-weight: 600;
    line-height: 1.86; 
    border: none;
    cursor: pointer;
}

.footer__bottom{
    text-align: center;
    border-top: 1px solid #406181;
}

.footer__bottom--desc{
    padding: 28px 0 42px;
    color: #AAB3BA;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}