*{
    box-sizing: border-box;
}

:root{
    --header-bg: #10375C;
    --color-white: #fff;
    --color-blue: #2E80CE;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    font-family: "Sora", sans-serif;
}

/* ================ common =================== */
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    background: var(--color-blue);
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    border-radius: 999px;
}

.btn:hover{
    opacity: 0.9;
}

.section__heading{
    color: #10375C;
    font-size: 5rem;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2; 
}

.section__desc{
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}
/* ================ header =================== */
.header{
    background: var(--header-bg);
    min-height: 100vh;
    padding-top: 30px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list{
    display: flex;
}

.header__action--login,
.navbar__link{
    padding: 8px 21px;
    color: #C9D2DA;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active{
    color:var(--color-white);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--color-white);
    right: 8px;
    top: -3px;
    position: relative;
} 

.header__action--login{
    margin-right: 7px;
}

.header__action--signup{
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
}

/* ========== hero ========= */
.hero{
    display: flex;
    align-items: center;
    padding-top: 76px;
}

.hero__content{
    width: 44%;
}

.hero__media{
    flex: 1;
}

.hero__heading{
    color: var(--color-white);
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
}

.hero__desc{
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero_row{
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.hero__phone{
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__images{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img{
    border-radius: 6px;
    object-fit: cover;
}

.hero__img--large{
    width: 330px;
    height: 540px;
    z-index: 1;
}

.hero__img--small{
    width: 210px;
    height: 410px;
    margin-left: -6px;
}

/* ============= service =========== */
.service{
    padding: 170px 0;
    background: var(--color-white);
}

.service__heading,
.secvice__desc{
    text-align: center;
}

.secvice__desc{
    width: 468px;
    margin: 18px auto 0px;
}

.service__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__img{
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__item{
    padding: 21px;
    width: 470px;
    display: flex;
    border-radius: 10px;
    background: var(--color-white);
    transition: 0.25s;
}

.service__item:hover{
    /* position: relative; */
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service__item:hover .service__item--icon{
    background: var(--color-blue);
    color: var(--color-white);
}

.service__item--icon{
    width: 60px;
    height: 60px;
    background: #eff6fd;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: 0.25s;
    margin-right: 19px;
}

.service__iteam--heading{
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service__iteam--desc{
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service__btn{
    margin-top: 55px;
}

/* ============= work ======================= */
.work{
    background: #F6FBFF;;
}

.work__heading{
    padding-top: 86px;
}

.work__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 338px;
    height: 370px;
    padding: 16px;
    background: #FFF;
    padding-left: 42px;
    margin-top: 86px;
    margin-bottom: 100px;
}

.work__item--heading{
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work__item--desc{
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work__item--link{
    color: #2E80CE;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 18px;
}